@charset "UTF-8";
/* CSS Document */



body{
	background-color: #854A96;
}

h1{
	text-align: center;
	font-size:  60px;
	color: white;
	font-family: 'Rubik', sans-serif;

}

h2{
	color:#854A96;
}

.settings{
	padding-right: 20px;
	padding-top: 5px;
}


.picture1{
	padding-top: 80px;
}

h3{
	text-align: center;
}
p{
	text-align: center;
	color: white;
	
}

.p1{
	text-align: left;
	text-align: justify;
	padding-top: 30px;
	
}

.p2{
	text-align: right;
	text-align: justify;
	
}

.p3{
	text-align: left;
	text-align: justify;
	padding-top: 30px;
	
}

.p4{
	text-align: right;
	text-align: justify;
	padding-top: 50px;
}

.p5{
	text-align: left;
	text-align: justify;
	padding-top: 30px;
	
}

h4{
	color: white;
	text-align: center;
}

.textbox1{
	background-color:
		rgba(255,255,255,0.20);
border-radius: 15px;
	
	
}

.textbox2{
	background-color:
		rgba(255,255,255,0.20);
border-radius: 15px;
	
}

.textbox3{
	background-color:
		rgba(255,255,255,0.20);
border-radius: 15px;
	
}

.textbox4{
	background-color:
		rgba(255,255,255,0.20);
border-radius: 15px;
	
}
.textbox5{
	background-color:
		rgba(255,255,255,0.20);
border-radius: 15px;
	
}

.spacing{
	padding: 20px;
}

.p6{
	text-align: justify;
}

.container3{
	padding: 10px; 
}
h3{
	color: white;
	font-family: 'Rubik', sans-serif; 
	font-size: 30px;
}

h7{
	font-size: 25px;
	color: white;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
}

.p8{
	padding-top: 40px;
	color: white;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

h6{
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	color: white;
	
}


.centeral{
	text-align: center;
	padding: 40px;
}

.p7	{
	text-align: center;
	
}

.p8{
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	color: white;
	
}

.downs{
	padding-top: 50px;
	padding-bottom: 30px;
}

.home{
	padding: 20px;
}